/* General Styling */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a; /* Couleur de fond */
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo */
.navbar-logo .logo {
    height: 50px; /* Ajuste la hauteur du logo */
}

/* Navbar Links */
.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-right: 20px; /* Espacement entre les liens */
}

.navbar-links li:last-child {
    margin-right: 0;
}

/* Navbar Links Styling */
.navbar-links a {
    color: white; /* Couleur des liens */
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #00c853; /* Couleur au survol */
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        margin: 10px 0; /* Espacement pour mobile */
    }
}
