.functioning-page {
    margin: 0 auto;
    padding: 20px;
  }
  
  #section1, .section2, #section3, #section4, #section5 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  
  .g, .d {
    flex: 1;
    margin: 20px;
  }
  
  .logo {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
  .g {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .d {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    #section1, .section2, #section3, #section4, #section5 {
      flex-direction: column;
    }
  }
  
